body{
    background-color: #282b31;
}
h1{
    position: block;
    margin: auto;
    text-align: center;
    padding: 20px;
    font-size: 3rem;
    color: #FFF4E0;
    font-family: 'Source Code Pro', monospace;
}
h2{
    position: inline-block;
    display: inline-block;
    text-align: center;
    font-size: 2.3rem;
    font-family: 'Source Code Pro', monospace;
    width: 30%;padding: 7px;
    background-color:#e781bce1;
}
.zorlukSec,.nasilOynanirDiv{
    position: inline-block;
 height: 5rem;
   width: 100%;
   padding: 5px;
   margin: 0px 10px ;
   display: flex;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    flex-direction: row;
    flex-wrap: nowrap;
    text-align: center;

}
.zorlukSec button{
    display: none;
    margin: 0;
    width: 20%;
    padding: 10px;
    font-size: 1.7rem;
    cursor: pointer;
}
.nasilOynanirDiv{
    margin-bottom: 40px;
}
.nasilOynanirDiv h2{
    width: auto;
    max-width: 83%;
    background-color: rgba(89, 247, 231, 0.884);
}
.nasilOynanirDiv p{
    font-size: 26px;
}